version: '3.8'

services:
  backend:
    build: .
    container_name: cs-backend
    ports:
      - "8083:8083"
    env_file:
      - .env.prod
    environment:
      - NODE_ENV=production
    restart: unless-stopped
